a {
    transition: all 0.3s ease-in-out;
}

a, a:focus, a:active, a:hover {
    text-decoration: none;
}

a, a:focus, a:active {
    color: #41A451;
}

a:hover {
    color: #41A451;
}

a[href*='tel'], a[href*='mailto'] {
    white-space: nowrap;
}

.link-hover {
    color: #41A451;
}

.link-active {
    color: #151515;
}

.privacy-link {
    display: inline-block;
}

.privacy-link:hover {
    color: #151515;
}

* + .privacy-link {
    margin-top: 35px;
}

.brand-logo-title{
    font-size: 30px;
    color: black;
    font-family: Britannic Bold;
}
