/*!FROONT Project element styles */
h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: .7rem;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: .07rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h6 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

ul li {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

ol li {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

blockquote {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    color: #2d2d2d
}

a {
    text-decoration: underline;
    color: inherit
}

.fr_text_bright_left.fr-text h1 {
    color: white
}

.fr_text_bright_left.fr-text p {
    font-family: Roboto;
    text-align: left;
    color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_left.fr-text h5 {
    text-align: left;
    color: white
}

.fr_text_bright_left.fr-text h4 {
    text-align: left;
    color: white
}

.fr_text_bright_left.fr-text h2 {
    text-align: left;
    color: white
}

.fr_text_bright_left.fr-text h3 {
    text-align: left;
    color: white
}

.fr_text_bright_left.fr-text h6 {
    color: white
}

.fr_text_bright_left.fr-text blockquote {
    color: white
}

.text-right {
    text-align: right;
}

.fr_button {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    text-decoration: inherit;
    letter-spacing: .01em;
    color: white;
    background-color: #2faded;
    border-radius: 4px
}

.fr_nav_item_bright_right_center {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.35em;
    text-align: center;
    text-decoration: inherit;
    letter-spacing: .01em;
    color: white
}

.fr_button-1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.35em;
    text-align: center;
    text-decoration: inherit;
    letter-spacing: .01em;
    color: white;
    background-color: #2faded;
    border-radius: 4px
}

.fr_text_bright_center {
    font-family: Roboto;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    color: white
}

.fr_text_bright_center.fr-text p {
    color: rgba(255, 255, 255, 0.8)
}

.fr_text_bright_center.fr-text h1 {
    text-align: center;
    color: white
}

.fr_text_bright_center.fr-text h2 {
    text-align: center;
    color: white
}

.fr_text_bright_center.fr-text h3 {
    color: white
}

.fr_text_bright_center.fr-text h4 {
    color: white
}

.fr_text_bright_center.fr-text h5 {
    color: white
}

.fr_text_bright_center.fr-text h6 {
    color: white
}

.fr_text_bright_center.fr-text blockquote {
    font-style: italic;
    text-align: left;
    color: white
}

.fr_text_dark_left {
    color: black
}

.fr_text_dark_left.fr-text p {
    text-align: left;
    color: black
}

.fr_text_dark_left.fr-text h4 {
    text-align: left
}

.fr_text_dark_left.fr-text h2 {
    text-align: left
}

.fr_text_dark_left.fr-text h5 {
    text-align: left
}

.fr_text_dark_right {
    color: black
}

.fr_text_dark_right.fr-text h1 {
    text-align: right
}

.fr_text_dark_right.fr-text p {
    text-align: right
}

.fr_text_dark_right.fr-text h2 {
    text-align: right
}

.fr_text_dark_right.fr-text h3 {
    text-align: right
}

.fr_text_dark_right.fr-text h4 {
    text-align: right
}

.fr_text_dark_right.fr-text h5 {
    text-align: right
}

.fr_text_dark_right.fr-text h6 {
    text-align: right
}

.fr_text_dark_right.fr-text blockquote {
    text-align: right
}

.fr_icon_medium_bright {
    fill: #878686
}

.fr_container {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 12rem
}

.fr_hero_with_bg {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: black;
    background-image: url(banner1.jpg);
    background-size: cover;
}

.fr_hd3_content {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: repeat;
    max-width: 1200px
}

.fr_text_25 {
    float: none;
    display: block;
    width: 90%;
    margin-top: 1rem;
    max-width: 600px
}

.fr_text_133 {
    float: none;
    display: block;
    width: 90%;
    margin-top: 2rem;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    max-width: 170px
}

.fr_nav_with_logo {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #232222
}

.fr_navigation_dark_with_logo_2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
    min-height: 60px;
    max-width: 1200px
}

.fr_logo_2 {
    float: left;
    width: 100%;
    vertical-align: bottom;
    margin-top: 16px;
    margin-bottom: 10px;
    max-width: 140px;
    fill: white
}

.fr_mobile_toggle_2 {
    float: right;
    display: none;
    min-height: 30px;
    min-width: 30px;
    cursor: pointer
}

.fr_hamburger_icon_2 {
    width: 30px;
    fill: white
}

.fr_items_2 {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px
}

.fr_text01 {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}

.fr_text02 {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}

.fr_text03_2 {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}

.fr_sign_up_button_2 {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px
}

.fr_features_block {
    float: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto
}

.fr_group_container_4 {
    width: 60%;
    padding-top: 3rem;
    padding-right: 5%;
    padding-bottom: 3rem;
    padding-left: 5%;
    background-color: #f7f7f7
}

.fr_grid_13 {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 1rem;
    max-width: 1000px
}

.fr_grid_13.fr-grid > .fr-widget {
    float: left
}

.fr_grid_13.fr-grid > .fr-widget:nth-child(2n+1) {
    margin-top: 0rem;
    margin-right: 2%;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 17%;
    clear: left;
    max-width: inherit
}

.fr_grid_13.fr-grid > .fr-widget:nth-child(2n+2) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 81%;
    clear: none;
    max-width: inherit
}

.fr_image_container_13 {
    float: none;
    display: block;
    position: relative;
    min-height: 150px
}

.fr_volume_up_icon_13 {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-right: auto;
    position: absolute;
    max-width: 60px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
}

.fr_text_193 {
    float: none;
    display: block
}

.fr_grid_14 {
    float: none;
    display: block;
    width: 100%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 1rem;
    max-width: 1000px
}

.fr_grid_14.fr-grid > .fr-widget {
    float: left
}

.fr_grid_14.fr-grid > .fr-widget:nth-child(2n+1) {
    margin-top: 0rem;
    margin-right: 2%;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 17%;
    clear: left;
    max-width: inherit
}

.fr_grid_14.fr-grid > .fr-widget:nth-child(2n+2) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 81%;
    clear: none;
    max-width: inherit
}

.fr_image_container_14 {
    float: none;
    display: block;
    position: relative;
    min-height: 150px
}

.fr_volume_up_icon_14 {
    float: none;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    position: absolute;
    max-width: 60px;
    -webkit-transform: translatey(-50%) translatex(-50%);
    -ms-transform: translatey(-50%) translatex(-50%);
    transform: translatey(-50%) translatex(-50%)
}

.fr_text_194 {
    float: none;
    display: block
}

.fr_grid_15 {
    float: none;
    display: block;
    width: 100%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 1rem;
    max-width: 1000px
}

.fr_grid_15.fr-grid > .fr-widget {
    float: left
}

.fr_grid_15.fr-grid > .fr-widget:nth-child(2n+1) {
    margin-top: 0rem;
    margin-right: 2%;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 17%;
    clear: left;
    max-width: inherit
}

.fr_grid_15.fr-grid > .fr-widget:nth-child(2n+2) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 81%;
    clear: none;
    max-width: inherit
}

.fr_image_container_15 {
    float: none;
    display: block;
    position: relative;
    min-height: 150px
}

.fr_volume_up_icon_15 {
    float: none;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-right: auto;
    position: absolute;
    max-width: 60px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
}

.fr_text_195 {
    float: none;
    display: block
}

.fr_grid_16 {
    float: none;
    display: block;
    width: 100%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 1rem;
    max-width: 1000px
}

.fr_grid_16.fr-grid > .fr-widget {
    float: left
}

.fr_grid_16.fr-grid > .fr-widget:nth-child(2n+1) {
    margin-top: 0rem;
    margin-right: 2%;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 17%;
    clear: left;
    max-width: inherit
}

.fr_grid_16.fr-grid > .fr-widget:nth-child(2n+2) {
    margin-top: 0rem;
    margin-right: 0;
    margin-bottom: 0rem;
    margin-left: 0;
    width: 81%;
    clear: none;
    max-width: inherit
}

.fr_image_container_16 {
    float: none;
    display: block;
    position: relative;
    min-height: 150px
}

.fr_volume_up_icon_16 {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-right: auto;
    position: absolute;
    max-width: 60px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
}

.fr_text_196 {
    float: none;
    display: block
}

.fr_action_container {
    float: none;
    display: block;
    background-image: linear-gradient(rgba(43, 38, 38, 0.55), rgba(43, 38, 38, 0.55)), url(banner2.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    min-height: 12em;
    min-width: 40%
}

.fr_container_24 {
    display: block;
    top: 50%;
    left: 50%;
    width: 80%;
    margin-right: auto;
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
}

.fr_text_197 {
    float: none;
    display: block;
    max-width: 600px
}

.fr_text_198 {
    float: none;
    display: block;
    width: 90%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    max-width: 170px
}

.fr_slideshow {
    float: none;
    display: block;
    width: 100%;
    height: 680px;
    vertical-align: top;
    position: relative;
    min-height: 680px
}

.fr_slideshow.fr-slideshow .swiper-pagination-bullet {
    background-color: black
}

.fr_left_arrow {
    display: block;
    top: 50%;
    width: 35px;
    vertical-align: top;
    margin-top: 0;
    margin-right: auto;
    margin-left: 1em;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.fr_right_arrow {
    display: block;
    top: 50%;
    width: 35px;
    vertical-align: top;
    margin-top: 0;
    margin-right: 1em;
    margin-left: 0;
    position: absolute;
    right: 0;
    z-index: 5;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.fr_slide_1 {
    float: none;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    min-height: 12em
}

.fr_slide_2 {
    float: none;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute
}

.fr_footer {
    margin-right: auto;
    margin-left: auto;
    background-color: white
}

.fr_wf_2_column_grid {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px
}

.fr_wf_2_column_grid.fr-grid > .fr-widget {
    float: left
}

.fr_wf_2_column_grid.fr-grid > .fr-widget:nth-child(2n+1) {
    margin-top: 1.35em;
    margin-right: 2%;
    margin-bottom: 1.35em;
    margin-left: 0;
    width: 49%;
    clear: left;
    max-width: inherit
}

.fr_wf_2_column_grid.fr-grid > .fr-widget:nth-child(2n+2) {
    margin-top: 1.35em;
    margin-right: 0;
    margin-bottom: 1.35em;
    margin-left: 0;
    width: 49%;
    clear: none;
    max-width: inherit
}

.fr_wf_container_one {
    margin-right: auto;
    margin-left: auto
}

.fr_get_the_app {
    width: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto
}

.fr_wf_follow_us {
    width: auto;
    margin-right: auto;
    margin-left: auto
}

.fr_wf_soc_icons {
    float: right;
    display: block;
    width: 90%;
    vertical-align: top;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 3rem;
    max-width: 10rem
}

.fr_wf_soc_icons.fr-grid > .fr-widget {
    float: left
}

.fr_wf_soc_icons.fr-grid > .fr-widget:nth-child(3n+1) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 33.33%;
    /*clear: left;*/
    max-width: inherit
}

.fr_wf_soc_icons.fr-grid > .fr-widget:nth-child(3n+2) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 33.33%;
    clear: none;
    max-width: inherit
}

.fr_wf_soc_icons.fr-grid > .fr-widget:nth-child(3n+3) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 33.33%;
    clear: none;
    max-width: inherit
}

.fr_wf_twitter {
    margin-right: auto;
    margin-left: auto
}

.fr_wf_tw_icon {
    float: none;
    display: block;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
    max-height: 64px;
    fill: #cbcbcb
}

.fr_wf_fb_icon {
    float: none;
    display: block;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
    max-height: 64px;
    fill: #cbcbcb
}

.fr_wf_yt_icon {
    float: none;
    display: block;
    width: 40px;
    margin-right: auto;
    margin-left: auto;
    max-height: 64px;
    fill: #cbcbcb
}

.fr_footer_4 {
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #232222;
    background-position: center center;
    background-size: cover;
    min-height: 7rem
}

.fr_f4_2_columns {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px
}

.fr_f4_2_columns.fr-grid > .fr-widget {
    float: left
}

.fr_f4_2_columns.fr-grid > .fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 6.6%;
    margin-bottom: .6em;
    margin-left: 0;
    width: 46.7%;
    clear: left;
    max-width: inherit
}

.fr_f4_2_columns.fr-grid > .fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 46.7%;
    clear: none;
    max-width: inherit
}

.fr_f4_container_one {
    float: none;
    display: block;
    width: 46.69921875%;
    background-color: black;
    background-image: url(connect.jpeg);
    background-position: center center;
    background-size: cover;
    min-height: 13rem;
    max-width: 1200px;
    height: 450px;
}

.fr_f4_text_cont {
    float: right;
    max-width: 25em
}

.fr_text_75 {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto
}

.fr_wf_soc_icons_4 {
    float: none;
    display: block;
    width: 90%;
    margin-top: 1rem;
    min-height: 3rem;
    max-width: 10em
}

.fr_wf_soc_icons_4.fr-grid > .fr-widget {
    float: left
}

.fr_wf_soc_icons_4.fr-grid > .fr-widget:nth-child(3n+1) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 33.33%;
    clear: left;
    max-width: inherit
}

.fr_wf_soc_icons_4.fr-grid > .fr-widget:nth-child(3n+2) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 33.33%;
    clear: none;
    max-width: inherit
}

.fr_wf_soc_icons_4.fr-grid > .fr-widget:nth-child(3n+3) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 33.33%;
    clear: none;
    max-width: inherit
}

.fr_wf_twitter_3 {
    margin-right: auto;
    margin-left: auto
}

.fr_svg_27 {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 40px
}

.fr_svg_26 {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 40px
}

.fr_svg_25 {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 40px
}

.fr_text_76 {
    float: none;
    display: inline-block;
    width: 100%;
    vertical-align: top
}

h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h4 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: .7rem;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: .07rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

h6 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

ul li {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

ol li {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #2d2d2d
}

blockquote {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    color: #2d2d2d
}

a {
    text-decoration: underline;
    color: inherit
}

.fr_logo_2 .fr-svg-inner {
    padding-bottom: 20.05012531328321%;
    position: relative
}

.fr-svg-inner h1 {
    color: white;
}

.fr_hamburger_icon_2 .fr-svg-inner {
    padding-bottom: 84.15300546448087%;
    position: relative
}

.fr_volume_up_icon_13 .fr-svg-inner {
    padding-bottom: 99.96251405722853%;
    position: relative
}

.fr_volume_up_icon_14 .fr-svg-inner {
    padding-bottom: 84.375%;
    position: relative
}

.fr_volume_up_icon_15 .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_volume_up_icon_16 .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_wf_tw_icon .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_wf_fb_icon .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_wf_yt_icon .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_svg_27 .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_svg_26 .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

.fr_svg_25 .fr-svg-inner {
    padding-bottom: 100%;
    position: relative
}

@media screen and (max-width: 768px) {
    .fr_nav_item_bright_right_center {
        text-align: center
    }

    .fr_mobile_toggle_2 {
        display: block
    }

    .fr_hamburger_icon_2 {
        width: 30px;
        margin-top: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        fill: white
    }

    .fr_items_2 {
        float: none;
        display: block;
        text-align: center;
        clear: both;
        position: absolute;
        max-height: 0
    }

    .fr_text01 {
        display: block;
        padding-right: 0;
        padding-left: 0
    }

    .fr_text02 {
        display: block;
        padding-right: 0;
        padding-left: 0
    }

    .fr_text03_2 {
        display: block;
        padding-right: 0;
        padding-left: 0
    }

    .fr_sign_up_button_2 {
        margin-top: 10px;
        margin-bottom: 10px
    }

    .fr_features_block {
        -webkit-flex-direction: column;
        flex-direction: column
    }

    .fr_group_container_4 {
        -webkit-align-self: stretch;
        align-self: stretch;
        width: auto
    }

    .fr_action_container {
        min-height: 60vh
    }
}

.fr-container .links li {
    float: left;
    padding: 0 10px;
    list-style-type: none;
}

@media screen and (max-width: 480px) {
    .fr_text_bright_left.fr-text h1 {
        font-size: 2rem
    }

    .fr_text_bright_center.fr-text h1 {
        font-size: 2rem
    }

    .fr_hero_with_bg {
        padding-top: 80px;
        padding-bottom: 80px
    }

    .fr_features_block {
        -webkit-flex-direction: column;
        flex-direction: column
    }

    .fr_group_container_4 {
        -webkit-align-self: stretch;
        align-self: stretch;
        width: auto
    }

    .fr_grid_13.fr-grid > .fr-widget {
        float: left
    }

    .fr_grid_13.fr-grid > .fr-widget:nth-child(1n+1) {
        margin-right: 1%;
        margin-left: 1%;
        width: 98.0%;
        clear: left;
        max-width: inherit
    }

    .fr_grid_14.fr-grid > .fr-widget {
        float: left
    }

    .fr_grid_14.fr-grid > .fr-widget:nth-child(1n+1) {
        margin-right: 1%;
        margin-left: 1%;
        width: 98.0%;
        clear: left;
        max-width: inherit
    }

    .fr_grid_15.fr-grid > .fr-widget {
        float: left
    }

    .fr_grid_15.fr-grid > .fr-widget:nth-child(1n+1) {
        margin-right: 1%;
        margin-left: 1%;
        width: 98.0%;
        clear: left;
        max-width: inherit
    }

    .fr_grid_16.fr-grid > .fr-widget {
        float: left
    }

    .fr_grid_16.fr-grid > .fr-widget:nth-child(1n+1) {
        margin-right: 1%;
        margin-left: 1%;
        width: 98.0%;
        clear: left;
        max-width: inherit
    }

    .fr_wf_2_column_grid.fr-grid > .fr-widget {
        float: left
    }

    .fr_wf_2_column_grid.fr-grid > .fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }

    .fr_wf_soc_icons {
        float: left;
        display: block;
        margin-top: 15px
    }

    .fr_f4_2_columns.fr-grid > .fr-widget {
        float: left
    }

    .fr_f4_2_columns.fr-grid > .fr-widget:nth-child(1n+1) {
        margin-top: .6em;
        margin-right: 0;
        margin-bottom: .6em;
        margin-left: 0;
        width: 100%;
        clear: left;
        max-width: inherit
    }

    .fr_f4_container_one {
        display: none
    }

    .fr_wf_soc_icons_4 {
        float: none;
        display: block;
        margin-left: 0
    }

    .fr_wf_soc_icons_4.fr-grid > .fr-widget {
        float: left
    }

    .fr-container .links li {
        float: left;
        padding: 0 10px;
        list-style-type: none;
    }
}

.fr_text_198 {
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.fr_text_198:hover {
    color: #f1625e;
    background-color: white;
    transition-duration: .125s
}

.fr_text_133 {
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.fr_text_133:hover {
    color: black;
    background-color: white;
    transition-duration: .125s
}

.fr_sign_up_button_2 {
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.fr_sign_up_button_2:hover {
    color: #232222;
    background-color: white;
    transition-duration: .125s
}

.fr_text03_2 {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.fr_text03_2:hover {
    color: #b3b3b3;
    transition-duration: .125s
}

.fr_text02 {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.fr_text02:hover {
    color: #b3b3b3;
    transition-duration: .125s
}

.fr_text01 {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.fr_text01:hover {
    color: #b3b3b3;
    transition-duration: .125s
}

.rich-text a {
    text-decoration: none;
}

.fr-svg-inner h1 {
    color: white;
}

.policy-content {
    width: 90%;
}

.policy-content h6 {
    font-style: italic;
}

.section-divider {
    width: 40px;
    height: 3px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.bg-green {
    background-color: #2BDE73;
}